<a href="https://colab.research.google.com/github/Abhijeet-Katiyar/Big-Mart-Sales-Prediction-1/blob/master/BMG_tensorflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

In [ ]:
import pandas as pd

In [ ]:
train=pd.read_csv('https://raw.githubusercontent.com/Abhijeet-Katiyar/Big-MArt-Sales-prediction/master/Train_UWu5bXk.csv')
test=pd.read_csv('https://raw.githubusercontent.com/Abhijeet-Katiyar/Big-MArt-Sales-prediction/master/Test_u94Q5KV.csv')

In [ ]:
train.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
Data=train.append(test,sort=False)

In [ ]:
Data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [ ]:
Data['Item_Fat_Content'].value_counts()

Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: Item_Fat_Content, dtype: int64

In [ ]:
Data['Item_Fat_Content'] = Data['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})

In [ ]:
Data.groupby('Item_Identifier')['Item_Weight'].mean().head(5)

Item_Identifier
DRA12    11.600
DRA24    19.350
DRA59     8.270
DRB01     7.390
DRB13     6.115
Name: Item_Weight, dtype: float64

In [ ]:
for i in Data.groupby('Item_Identifier')['Item_Weight'].mean().index:
    Data.loc[Data.loc[:,'Item_Identifier']==i,'Item_Weight']=Data.groupby('Item_Identifier')['Item_Weight'].mean()[i]

In [ ]:
#Data['Outlet_Size'].fillna(Data['Outlet_Size'].mode()[0],inplace=True)
Data.Outlet_Size.fillna(Data.Outlet_Size[Data['Outlet_Type']=='Grocery Store'].mode()[0],inplace=True)

In [ ]:
Data.Outlet_Size.fillna(Data.Outlet_Size[Data['Outlet_Type']=='Supermarket Type1'].mode()[0],inplace=True)

In [ ]:
Data.Outlet_Size.fillna(Data.Outlet_Size[Data['Outlet_Type']=='Supermarket Type2'].mode()[0],inplace=True)

In [ ]:
Data.Outlet_Size.fillna(Data.Outlet_Size[Data['Outlet_Type']=='Supermarket Type3'].mode()[0],inplace=True)

In [ ]:
Train_data=Data.dropna()

In [ ]:
Test_Data=Data[Data['Item_Outlet_Sales'].isnull()]
Test_Data.drop('Item_Outlet_Sales',axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
print(Test_Data.shape)
print(Train_data.shape)

(5681, 11)
(8523, 12)

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
categorical_list=['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type','Outlet_Establishment_Year']

In [ ]:
le = LabelEncoder()
for i in categorical_list:
    Train_data[i]=le.fit_transform(Train_data[i])
    Train_data[i]=Train_data[i].astype('category')
    Test_Data[i]=le.fit_transform(Test_Data[i])
    Test_Data[i]=Test_Data[i].astype('category')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
Train_data.corr()

                   Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
Item_Weight           1.000000        -0.009661  0.026172           0.013261
Item_Visibility      -0.009661         1.000000 -0.001315          -0.128625
Item_MRP              0.026172        -0.001315  1.000000           0.567574
Item_Outlet_Sales     0.013261        -0.128625  0.567574           1.000000

In [ ]:
Train_data.head()

  Item_Identifier  Item_Weight  ... Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...           1          3735.1380
1           DRC01         5.92  ...           2           443.4228
2           FDN15        17.50  ...           1          2097.2700
3           FDX07        19.20  ...           0           732.3800
4           NCD19         8.93  ...           1           994.7052

[5 rows x 12 columns]

In [ ]:
import numpy as np

In [ ]:
# X_train=np.array(Train_data.drop(['Item_Outlet_Sales','Item_Identifier'],axis=1))
# y_train=np.array(Train_data['Item_Outlet_Sales'])

X=np.asarray((Train_data.drop(['Item_Outlet_Sales','Item_Identifier'],axis=1))).astype('float32')
Y=np.asarray(Train_data['Item_Outlet_Sales']).astype('float32')

In [ ]:
X.shape

(8523, 10)

In [ ]:
Y.shape

(8523,)

In [ ]:
Test_Data=np.asarray(Test_Data.drop(['Item_Identifier'],axis=1)).astype('float32')

In [ ]:
Test_Data.shape

(5681, 10)

In [ ]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2
# from sklearn.preprocessing import MinMaxScaler
# X_norm = MinMaxScaler().fit_transform(X)
# chi_selector = SelectKBest(chi2, k=9)
# chi_selector.fit(X_norm, Y)
# # chi_support = chi_selector.get_support()
# # chi_feature = X[:,chi_support].columns.tolist()
# # print(str(len(chi_feature)), 'selected features')
# chi_selector.get_support()

In [ ]:
# chi_selector.get_support()

In [ ]:
# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [ ]:
model = tf.keras.Sequential([
  layers.Dense(64),
  layers.Dense(1)
])

In [ ]:
model.compile(loss = tf.losses.MeanSquaredError(),
                      optimizer = tf.optimizers.Adam())

In [ ]:
model.fit(X, Y, epochs=50)

Epoch 1/50
267/267 [==============================] - 0s 2ms/step - loss: 5137498.5000
Epoch 2/50
267/267 [==============================] - 0s 2ms/step - loss: 2112679.5000
Epoch 3/50
267/267 [==============================] - 0s 2ms/step - loss: 1967899.5000
Epoch 4/50
267/267 [==============================] - 0s 2ms/step - loss: 1956470.8750
Epoch 5/50
267/267 [==============================] - 0s 2ms/step - loss: 1943316.7500
Epoch 6/50
267/267 [==============================] - 0s 2ms/step - loss: 1931241.2500
Epoch 7/50
267/267 [==============================] - 0s 2ms/step - loss: 1916880.2500
Epoch 8/50
267/267 [==============================] - 0s 2ms/step - loss: 1902666.7500
Epoch 9/50
267/267 [==============================] - 0s 2ms/step - loss: 1889632.3750
Epoch 10/50
267/267 [==============================] - 1s 2ms/step - loss: 1874575.7500
Epoch 11/50
267/267 [==============================] - 0s 2ms/step - loss: 1858553.7500
Epoch 12/50
267/267 [==============================] - 0s 2ms/step - loss: 1843084.6250
Epoch 13/50
267/267 [==============================] - 0s 2ms/step - loss: 1826863.3750
Epoch 14/50
267/267 [==============================] - 0s 2ms/step - loss: 1809435.5000
Epoch 15/50
267/267 [==============================] - 0s 2ms/step - loss: 1790381.2500
Epoch 16/50
267/267 [==============================] - 0s 2ms/step - loss: 1772859.8750
Epoch 17/50
267/267 [==============================] - 0s 2ms/step - loss: 1752904.1250
Epoch 18/50
267/267 [==============================] - 0s 2ms/step - loss: 1734713.6250
Epoch 19/50
267/267 [==============================] - 0s 2ms/step - loss: 1715550.0000
Epoch 20/50
267/267 [==============================] - 0s 2ms/step - loss: 1695682.0000
Epoch 21/50
267/267 [==============================] - 0s 2ms/step - loss: 1677697.3750
Epoch 22/50
267/267 [==============================] - 0s 2ms/step - loss: 1661257.2500
Epoch 23/50
267/267 [==============================] - 0s 2ms/step - loss: 1643924.3750
Epoch 24/50
267/267 [==============================] - 0s 2ms/step - loss: 1628555.0000
Epoch 25/50
267/267 [==============================] - 0s 2ms/step - loss: 1616233.2500
Epoch 26/50
267/267 [==============================] - 0s 2ms/step - loss: 1602164.8750
Epoch 27/50
267/267 [==============================] - 0s 2ms/step - loss: 1591234.6250
Epoch 28/50
267/267 [==============================] - 0s 2ms/step - loss: 1581555.3750
Epoch 29/50
267/267 [==============================] - 0s 2ms/step - loss: 1571709.7500
Epoch 30/50
267/267 [==============================] - 0s 2ms/step - loss: 1562279.1250
Epoch 31/50
267/267 [==============================] - 0s 2ms/step - loss: 1557289.5000
Epoch 32/50
267/267 [==============================] - 0s 2ms/step - loss: 1549354.7500
Epoch 33/50
267/267 [==============================] - 0s 2ms/step - loss: 1544221.1250
Epoch 34/50
267/267 [==============================] - 0s 2ms/step - loss: 1540410.5000
Epoch 35/50
267/267 [==============================] - 0s 2ms/step - loss: 1535751.3750
Epoch 36/50
267/267 [==============================] - 1s 2ms/step - loss: 1532570.8750
Epoch 37/50
267/267 [==============================] - 0s 2ms/step - loss: 1529566.1250
Epoch 38/50
267/267 [==============================] - 0s 2ms/step - loss: 1527110.0000
Epoch 39/50
267/267 [==============================] - 0s 2ms/step - loss: 1524922.7500
Epoch 40/50
267/267 [==============================] - 0s 2ms/step - loss: 1522077.0000
Epoch 41/50
267/267 [==============================] - 0s 2ms/step - loss: 1521578.3750
Epoch 42/50
267/267 [==============================] - 0s 2ms/step - loss: 1519420.1250
Epoch 43/50
267/267 [==============================] - 0s 2ms/step - loss: 1516172.6250
Epoch 44/50
267/267 [==============================] - 0s 2ms/step - loss: 1513638.6250
Epoch 45/50
267/267 [==============================] - 0s 2ms/step - loss: 1513523.1250
Epoch 46/50
267/267 [==============================] - 0s 1ms/step - loss: 1513163.3750
Epoch 47/50
267/267 [==============================] - 0s 2ms/step - loss: 1509556.0000
Epoch 48/50
267/267 [==============================] - 0s 2ms/step - loss: 1508155.8750
Epoch 49/50
267/267 [==============================] - 0s 2ms/step - loss: 1508234.6250
Epoch 50/50
267/267 [==============================] - 0s 2ms/step - loss: 1505657.7500

In [ ]:
normalize = preprocessing.Normalization()

In [ ]:
normalize.adapt(X)

In [ ]:
norm_abalone_model = tf.keras.Sequential([
  normalize,
  layers.Dense(13,activation='relu',kernel_initializer='random_uniform'),
  layers.Dense(26,activation='relu',kernel_initializer='random_uniform'),
  layers.Dense(52,activation='relu',kernel_initializer='random_uniform'),
  layers.Dense(26,activation='relu',kernel_initializer='random_uniform'),
  layers.Dense(13,activation='relu',kernel_initializer='Orthogonal'),
  layers.Dense(8,activation='relu',kernel_initializer='Orthogonal'),
  layers.Dense(1,activation='relu',kernel_initializer='Orthogonal')
])

norm_abalone_model.compile(loss = tf.losses.MeanSquaredError(),
                           optimizer = tf.optimizers.Nadam())

# norm_abalone_model.compile(optimizer='adam',
#               loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
#               metrics=['accuracy'])



norm_abalone_model.fit(X, Y, epochs=50)

Epoch 1/50
267/267 [==============================] - 1s 4ms/step - loss: 3953548.2500
Epoch 2/50
267/267 [==============================] - 1s 4ms/step - loss: 1324229.5000
Epoch 3/50
267/267 [==============================] - 1s 4ms/step - loss: 1274929.7500
Epoch 4/50
267/267 [==============================] - 1s 4ms/step - loss: 1246908.0000
Epoch 5/50
267/267 [==============================] - 1s 4ms/step - loss: 1231973.6250
Epoch 6/50
267/267 [==============================] - 1s 4ms/step - loss: 1218494.1250
Epoch 7/50
267/267 [==============================] - 1s 4ms/step - loss: 1207283.3750
Epoch 8/50
267/267 [==============================] - 1s 4ms/step - loss: 1201852.6250
Epoch 9/50
267/267 [==============================] - 1s 4ms/step - loss: 1193251.1250
Epoch 10/50
267/267 [==============================] - 1s 4ms/step - loss: 1189906.3750
Epoch 11/50
267/267 [==============================] - 1s 4ms/step - loss: 1185546.6250
Epoch 12/50
267/267 [==============================] - 1s 4ms/step - loss: 1180826.6250
Epoch 13/50
267/267 [==============================] - 1s 4ms/step - loss: 1178705.2500
Epoch 14/50
267/267 [==============================] - 1s 4ms/step - loss: 1174826.5000
Epoch 15/50
267/267 [==============================] - 1s 4ms/step - loss: 1174447.5000
Epoch 16/50
267/267 [==============================] - 1s 4ms/step - loss: 1169978.7500
Epoch 17/50
267/267 [==============================] - 1s 4ms/step - loss: 1169749.7500
Epoch 18/50
267/267 [==============================] - 1s 4ms/step - loss: 1166781.8750
Epoch 19/50
267/267 [==============================] - 1s 4ms/step - loss: 1164641.0000
Epoch 20/50
267/267 [==============================] - 1s 4ms/step - loss: 1165898.6250
Epoch 21/50
267/267 [==============================] - 1s 4ms/step - loss: 1166074.5000
Epoch 22/50
267/267 [==============================] - 1s 4ms/step - loss: 1162917.0000
Epoch 23/50
267/267 [==============================] - 1s 4ms/step - loss: 1163524.7500
Epoch 24/50
267/267 [==============================] - 1s 4ms/step - loss: 1162528.0000
Epoch 25/50
267/267 [==============================] - 1s 4ms/step - loss: 1162304.7500
Epoch 26/50
267/267 [==============================] - 1s 4ms/step - loss: 1161044.1250
Epoch 27/50
267/267 [==============================] - 1s 4ms/step - loss: 1158250.7500
Epoch 28/50
267/267 [==============================] - 1s 4ms/step - loss: 1161165.0000
Epoch 29/50
267/267 [==============================] - 1s 4ms/step - loss: 1157992.0000
Epoch 30/50
267/267 [==============================] - 1s 4ms/step - loss: 1159766.6250
Epoch 31/50
267/267 [==============================] - 1s 4ms/step - loss: 1158124.8750
Epoch 32/50
267/267 [==============================] - 1s 4ms/step - loss: 1157524.2500
Epoch 33/50
267/267 [==============================] - 1s 4ms/step - loss: 1158779.5000
Epoch 34/50
267/267 [==============================] - 1s 4ms/step - loss: 1157616.5000
Epoch 35/50
267/267 [==============================] - 1s 4ms/step - loss: 1156546.3750
Epoch 36/50
267/267 [==============================] - 1s 4ms/step - loss: 1158011.6250
Epoch 37/50
267/267 [==============================] - 1s 4ms/step - loss: 1154864.6250
Epoch 38/50
267/267 [==============================] - 1s 5ms/step - loss: 1154178.0000
Epoch 39/50
267/267 [==============================] - 1s 4ms/step - loss: 1154534.6250
Epoch 40/50
267/267 [==============================] - 1s 4ms/step - loss: 1158432.6250
Epoch 41/50
267/267 [==============================] - 1s 5ms/step - loss: 1152261.3750
Epoch 42/50
267/267 [==============================] - 1s 4ms/step - loss: 1156743.1250
Epoch 43/50
267/267 [==============================] - 1s 4ms/step - loss: 1157090.5000
Epoch 44/50
267/267 [==============================] - 1s 4ms/step - loss: 1157150.8750
Epoch 45/50
267/267 [==============================] - 1s 4ms/step - loss: 1155967.2500
Epoch 46/50
267/267 [==============================] - 1s 4ms/step - loss: 1151827.2500
Epoch 47/50
267/267 [==============================] - 1s 4ms/step - loss: 1152806.7500
Epoch 48/50
267/267 [==============================] - 1s 5ms/step - loss: 1151456.0000
Epoch 49/50
267/267 [==============================] - 1s 4ms/step - loss: 1149147.0000
Epoch 50/50
267/267 [==============================] - 1s 5ms/step - loss: 1156693.0000

In [ ]:
norm_abalone_model.evaluate(X, Y)

267/267 [==============================] - 0s 2ms/step - loss: 1144832.1250

1144832.125

In [ ]:
predicted=list(norm_abalone_model.predict(Test_Data).flat)

In [ ]:
predicted=pd.Series(data=np.array(predicted),index=test.index,name='Item_Outlet_Sales')

In [ ]:
tf_predictions=pd.DataFrame([test['Item_Identifier'],test['Outlet_Identifier'],predicted]).T

In [ ]:
tf_predictions.head()

  Item_Identifier Outlet_Identifier Item_Outlet_Sales
0           FDW58            OUT049           1783.54
1           FDW14            OUT017           1457.44
2           NCN55            OUT010           584.623
3           FDQ58            OUT017           2622.23
4           FDY38            OUT027           5911.49

In [ ]:
tf_predictions.to_csv('tf_predictions.csv',index=False)

In [ ]:
len(tf_predictions[tf_predictions['Item_Outlet_Sales']<0])

0